*{
    margin: 0%;
    padding: 0%;
}

body{
    /* background: #ffff72; */
    background: #fff59d;
}

/* -----BLOQUE LOGIN----- */

.login-container{
    display: flex;
	flex-direction: column;
    align-items: center;
}

.section-login{
    text-align: center;
    padding: 15px 30px;
    /* background-color: #689f38; */
    border-radius: 15px;
    /* min-height: 70vh; */
}

.logo{
    height: 600px;
    width: auto;
    margin: 0px 0px 0px 10px;
}

.input{
    display: block;
    background: #d8dfc5;
    margin: 12px auto;
    height: 15px;
    padding: 10px 35px;
    border-radius: 15px;
}

.button{
    /* background: #50C45F;
    color: #243010; */
    display: inline-block;
    padding: 9px 50px;
    text-align: center;
    border-radius: 15px;
    /* margin-left: auto; */
}

.home-container{
    display: flex;
	flex-direction: column;
    align-items: center;
    margin: 10%;
}

.menu{
    padding: 20px;
    background: #cbc26d;
}

.log-up{
    text-decoration: none;
}

.log-up:hover {
    background: #d8dfc5;
    padding: 20px;
}

.post{
    width: 50vh;
    height: 20vh;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}

.list-notes{
    display: flex;
	flex-direction: column;
    align-items: center;
    margin: 10%;
}

li {
    list-style: none;
}

@media screen and (min-width: 800px) {
    .login-container{
      flex-direction: row;
      justify-content: space-evenly;
      /* min-height: 70vh; */
    }

    .section-login{
        min-height: 30vh;
        justify-content: space-evenly;
    }

    /* .home-container{
        
    } */
    
}