*{
    margin: 0%;
    padding: 0%;
}

body{
    /* background: #ffff72; */
    background: white;
    /* display: flex; */
    min-height: 100vh;
}

/* -----BLOQUE LOGIN----- */

.login-container{
    display: flex;
	flex-direction: column;
    align-items: center;
}

.section-login{
    text-align: center;
    padding: 15px 30px;
    /* background-color: #689f38; */
    border-radius: 15px;
    /* min-height: 70vh; */
}

.logo{
    height: 600px;
    width: auto;
    margin: 0px 0px 0px 50px;
}
.fb-gm{
    width: 50px;
    margin: 0px 5px;
}

.text {
    margin: 30px 150px;
    text-align: center;
}

.block-profile{
    display: inline;
}

.input{
    display: block;
    background: #d8dfc5;
    margin: 12px auto;
    height: 38px;
    padding: 10px 35px;
    border-radius: 15px;
}

.button{
    /* background: #50C45F;
    color: #243010; */
    display: inline-block;
    padding: 5px 50px;
    text-align: center;
    border-radius: 15px;
    /* margin-left: auto; */
}

.home-container{
    display: inline;
	/* flex-direction: column; */
    align-items: center;
    margin: 5%;
}

.share-post{
    position: relative;
    left: 10%;
    width: 35%;
    border:  solid 1px rgb(82, 80, 80);
    max-width: 500px;
    padding: 30px 20px 30px 20px;
    margin: auto;
}

.label-camera{
    margin: 0rem 1rem 0rem 2rem;
}

.menu{
    padding: 30px;
    background: #cbc26d;
}

.view-none{
    display:none;
}

.button-like{
    border: none;
}

.log-up{
    white-space: normal;
    text-decoration: none;
    margin: 0px 50px;
    color: black;
    cursor: pointer;
    transition: color .5s;
}

.log-up:hover {
    color: #d8dfc5;
    /* padding: 30px; */
}

.avatar {
    width: 20%;
    padding: 50px;
    margin: 20px;
}

.container-post{
    display: flex;
	flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background: #fff59d;
}

.post{
    display: inline-block;
    width: 90%;
    padding: 20px 10px;
    text-align: center;
    border-radius: 10px;
    margin: 18px;
    font-size: 15px;
    word-break: break-all;
    resize: none;
}

.list-notes{
    display: flex;
	flex-direction: column;
    align-items: center;
    /* width: 50%; */
    margin: 5%;
    padding: 30px 0px;
}
li{
    list-style: none;
}

.lis {
    /* list-style: none;
    padding: 20px;
    background: #fff59d;
    margin: 10px;
    border-radius: 15px; */
    list-style: none;
    position: relative;
    left: 11%;
    width: 40%;
    border:  solid 1px rgb(82, 80, 80);
    max-width: 465px;
    min-height: 250px;
    padding: 15px 0px 0px;
    margin: 20px;
}
.posteo{
    display: block;
    margin: 15px;
    margin-bottom: 50px;
}

.user-name {
    border-bottom: solid 1px  rgb(82, 80, 80);
    text-align: justify;
    padding: 0px 15px;
    padding-bottom: 15px;
}

.forma-menu {
    border-top: solid 1px rgb(82, 80, 80);
    padding: 15px;
}

.icon {
    width: 20px;
    margin: 0px 5px;
}

/* .texto {
    text-decoration: none;
}

.tachado {
    text-decoration: line-through;
} */

/* .delete {
    margin: 0px 0px 0px 150px;
} */

@media screen and (min-width: 800px) {
    .login-container{
      flex-direction: row;
      justify-content: space-evenly;
      /* min-height: 70vh; */
    }

    .section-login{
        min-height: 30vh;
        justify-content: space-evenly;
    }
    
    /* .post{
        flex-direction: column;
        min-height: 30vh;
        justify-content: space-evenly;
    } */

    /* .home-container{
        
    } */
    
}