*{
    margin: 0%;
    padding: 0%;
}

body{
    background: #ffff72;
}

/* -----BLOQUE LOGIN----- */

.login-container{
    display: flex;
	flex-direction: column;
    align-items: center;
}

.section-login{
    text-align: center;
    padding: 15px 30px;
    /* background-color: #689f38; */
    border-radius: 15px;
    /* min-height: 70vh; */
}

.logo{
    height: 600px;
    width: auto;
    margin: 0px 0px 0px 10px;
}

.input{
    display: block;
    background: #d8dfc5;
    margin: 12px auto;
    height: 15px;
    padding: 10px 35px;
    border-radius: 15px;
}

.button{
    /* background: #50C45F;
    color: #243010; */
    display: inline-block;
    padding: 9px 50px;
    text-align: center;
    border-radius: 15px;
    /* margin-left: auto; */
}

@media screen and (min-width: 800px) {
    .login-container{
      flex-direction: row;
      justify-content: space-evenly;
      /* min-height: 70vh; */
    }

    .section-login{
        min-height: 30vh;
        justify-content: space-evenly;
    }
}